.divCenter600 {
  justify-content: center;
  display: flex;
  min-width: 600px;
}

.modalLabel {
  font-size: 17px;
  line-height: 25px;
  margin-top: 20px;
  color: black;
}

.modalAVT {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 100px;
}

.infoArea {
  border: 0.1px solid #dcdcdc;
  padding: 10px;
  border-radius: 3px;
  margin-top: 5px;
}

.attachIcon {
  width: 33px;
  height: 33px;
  position: absolute;
  top: -16px;
  left: 14px;
  color: #c6d6dd;
  border: 1px solid #22a0dc;
  border-radius: 33px;
  padding: 5px;
  background: #22a0dc;
  box-shadow: 1px 1px 5px;
}

.attachButton {
  border: 0.1px solid #dcdcdc;
  padding: 21px;
  border-radius: 3px;
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
  transition: color 0.1s, background 0.1s, box-shadow 0.1s;
  box-shadow: 2px 2px 4px #9e9e9e;
}

.attachButton:hover {
  background: #22a0dc;
  color: #dfebf0;
  box-shadow: 5px 5px 5px;
}

.inputTips {
  border: 0.1px solid #dcdcdc;
  padding: 6px;
  border-radius: 3px;
  margin: 5px 0 5px 13px;
  width: 54%;
}
